.right-container {
    display: flex;
    flex-direction: column;
  }
  .image-container {
    position: relative;
    display: inline-block;
  }
  .text-overlay {
    position: absolute;
    top: 50%; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7); /* Adjust background color and opacity */
    padding: 10px; /* Adjust padding */
    border-radius: 5px; /* Adjust border radius */
    font-size: 18px; /* Adjust font size */
    color: #000; /* Adjust text color */
  }
  .img{
    width: 100%;
  }
  .row-40 {
    flex: 4;
  }
  
  .row-40 {
    flex: 4;
  }

  /* RightSide.css */

.play-button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .pause-button {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  

  
  .row-40 {
    flex: 1;
  }
  
  .image-container {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .scrollable-box {
    max-height: 300px; /* Adjust the height as needed */
    overflow: auto;
  }
  
  .price {
    margin-top: 20px;
    text-align: center;
  }
  
  .play-button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .play-button:hover {
    background-color: #0056b3;
  }
  
  